body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-image: -moz-linear-gradient(to right, black, purple);
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

a {
    color: white;
}