.texto_Centralizado{
    text-align: center;
    padding: 20px;
    margin: auto;
    max-width: 50rem;
    color: white;
}

.imagem_Redonda {
    border-radius: 25%;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #0B1516;
}

a {
    color: white;
}
